body {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
}

.battleWrap #palm-btn {
    background: none;
    border: none;
    background-image: url(./imgs/palm.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    position: relative;
    overflow: visible;
    transition: transform 0.2s ease;

}

.battleWrap #palm-btn:active {
    transform: scale(0.8);
}


.battleWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-image: url(./imgs/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.battleWrap .healthwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.battleWrap .healthwrap .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(-40px);
}

.battleWrap .healthwrap .wrapper img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transition: all 0.5s linear;
}


.shop-panel header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content:space-around;
    background: #5b3e3c;
    backdrop-filter: blur(4px);
}

.shop-panel header .value-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shop-panel header .value-wrap #log-img {
    width: 70px;
    height: 35px;
}

.shop-panel header .value-wrap #energy-img {
    transition: all .3s ease;
    width: 25px;
    height: 40px;
}

.shop-panel header h2 {
    font-weight: 800;
    color: white;
    margin: 20px;
    white-space: nowrap;
    font-weight: 500;
}

.shop-panel header #money {
    color: rgb(0, 255, 0);
    font-weight: 800;
}


.shop-panel .buy-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: start;
    gap: 40px;
    width: 100%;
    padding-bottom: 20px;
    background: #b59a8c;
    overflow-y: scroll;
    height: 50vh;

}

.shop-panel section article {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding: 35px 25px;
    justify-content: center;
    align-items: center;
    background: #766355;
    width: 150px;
    height: 180px;
    border-radius: 25px;
    text-align: center;
    transform: all .5s ease;
}

.shop-panel section .shamaneno {
    background: #5a4534;
}

.shop-panel section .shamaneno h3 {
    color: gold;
}

.shop-panel section article h3, p, input {
    margin: 0;
    margin-top: 10px;
}

article .content h3 {
    color: orange;
}

article .content p {
    color: rgb(0, 255, 0);
}

.shop-panel section article img {
    width: 50px;
    height: 50px;
}
    
#sellBtn {
    width: 300px;
    height: 50px;
    font-size: 20pt;
}

.shop-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-y:hidden;
}

.shop-panel .sell-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background-color: #846952;
}

.shop-panel .sell-area h2 {
    color: white;
    margin: 0;
    margin: 10px 15px;
    text-align: center;
}

article .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

article input {
    width: 80px;
    height: 30px;
    background-color: rgb(85, 189, 24);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 600;
}

article input:hover {
    background-color: rgb(81, 173, 28);
    cursor: pointer;
}

.sell-area input {
    width: 600px;
    height: 300px;
    background-color: #524133;
    border:  none;
    border-radius: 15px;
    color: white;
    transition: background-color 0.5s ease;

}

.sell-area input:hover {
    background-color: #282019;
    cursor: pointer;
}

#money {
    position: relative;
}

#sellBtn {
    position: relative;
    overflow: visible;
}
