:root {
    --bg-main: #b59a8c;
    --bg-panel: #5b3e3c;
    --bg-card: #766355;
    --bg-sell: #846952;

    --button-color: #514032;
    --hovered-button-color: #282019;

    
}
[data-theme="sunburned"] {
    --bg-main: rgb(50, 30, 0);
    --bg-panel: #473130;
    --bg-card: #764014;
    --bg-sell: #4b2a00;

    --button-color: #282019;
    --hovered-button-color: #514032;
}


body {
    margin: 0;
    font-family: 'Roboto';
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-panel);
    backdrop-filter: blur(4px);
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    background-color: var(--bg-main);
}

section article {
    margin-top: 30px;
    background-color: var(--bg-sell);
    width: 60%;
    min-height: 25em;
    border-radius: 2rem;
    color: white;
}

section article .appearance {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

section article .art-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

section article h2 {
    margin-top: 0;
}

section article select {
    appearance: none;
    background-color: #524133;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 1rem;
    width: 18em;
    

    &, &::picker(select) {
        appearance: base-select;
        border: none;
        border-radius: 1rem;
        background-color: #524133;
        color: white;
    }

    &::picker(select) {
        margin-block-start: 0.3rem;
    }

    &::picker-icon {
        display: none;

    }
}


section .languages {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 25px;
}


section .languages label {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: var(--bg-panel);
    font-size: 15pt;
    margin: 5px 0 5px 0;
    transition: background-color .5s ease;
}

section .languages label:hover {
    cursor: pointer;
    background-color: var(--hovered-button-color);
}

section .languages label input {
    margin: 15px;
    margin-left: 30px;
}

.lbl {
    margin: 20px 0 20px 0;
}

#font-size {
    -webkit-appearance: none;
    width: 200px;
    height: 6px;
    background: #5b3e3c;
    border-radius: 2rem;

}

.save-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.save-wrap input {
    width: 150px;
    height: 40px;
    font-size: 14pt;
    border: none;
    background-color: #524133;
    color: #fff;
    border-radius: 2rem;
}

#font-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(254, 161, 0);
    border-radius: 50%;
    cursor: pointer;
}

.back-wrap {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-main);
}

.back-wrap img {
    margin-left: 20px;
    width: 80px;
}

.back-wrap img:hover {
    cursor: pointer;
}

body,
header,
section,
section article,
.back-wrap,
section .languages label,
.save-wrap input {
    transition: background-color 0.5s ease, color 0.5s ease;
}